service/build
service/gradle
service/out
service/.gradle
service/build.gradle
service/gradle.properties
service/gradlew
service/gradlew.bat
service/settings.gradle


# IntelliJ
.idea
*.ipr
*.iml
*.iws

