
:root{
    --vert_fierte: #00A759;
    --vert_vivacite: #79b551;
    --gris: #b6baaf;
}


.body{
    font-family: ro, sans-serif;
}

.buttonTitre {
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: var(--vert_fierte);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonTitre:hover {
    background-color: #45a049;
}

.titre {
    text-align: center;
    font-family: mon;
    font-weight: bold;
    font-size: 34px;
}

.titre a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.titre a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.titre a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.titre a:active {
    color:darkslateblue;
    background-color: transparent;
    text-decoration: underline;
}

.content {
    margin-left: 160px; /* width of the sidebar + some margin */
    padding: 20px;
}

.horaire{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.horaire th{
    border: 1px solid black; 
    border-collapse: collapse;
    background-color: var(--vert_fierte);
    font-weight: bold;
}

.horaire td{
    border: 1px solid black; 
    border-collapse: collapse;
    text-align: center; 
}

.horaire tr:hover{
    background-color: var(--gris);
}

.classement {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.classement th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: var(--vert_fierte);
    font-weight: bold;
}

.classement td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.classement tr:hover{
    background-color: var(--gris);
}

.container {
    display: flex;
    justify-content: space-between; /* Align components with space in between */
    align-items: center; /* Align components vertically in the center */
    background-color: #f1f1f1;
    padding: 10px;
}

.sidebar {
    width: 150px;
    height: 100vh;
    background-color: var(--vert_fierte);
    float: left;
}

.sidebar nav {
    width: 130px;
    padding: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav li {
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    justify-items: normal;


}

.button:hover {
    background-color: #45a049;
}

.sidebar nav h4{
    display: block;
    text-decoration: none;
    color: black;
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
    margin: 0px;


}

.texte-sidebar {
    margin-bottom: 2px;

}

.menu {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .menu > .menu-trigger {
      width: 100%;
      padding: 10px;
      background-color: var(--vert_vivacite);
      color: white;
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .menu > .menu-trigger:hover {
      background-color: #45a049;
    }

    .menu > .options {
      position: absolute;
      top: 0;
      left: 100%;
      width: 40px;
      background-color: #f1f1f1;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s ease;
    }

    .menu:hover > .options {
      visibility: visible;
      opacity: 1;
    }

    .menu > .options > .option {
      display: block;
      padding: 5px;
      color: #333;
      background-color: #f1f1f1;
      font-family: Arial, sans-serif;
      font-size: 14px;
      transition: background-color 0.3s ease;
      width: 100%;
      margin: 1px;
      border-radius: 4px;
    }


    .menu > .options > .option:hover {
      background-color: #bedbab;
    }

.button-option{
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-option:hover{
    background-color: #bedbab;
}

.menu-deroulant-match{
    background-color: #79b551;
    width: 50%;
    height: 30px;
    font-size: 20px;
    justify-self: center;
}

.texte-description-match{
    background-color: #b6baaf;
    width: 100%;
    height: 200px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.choix-presence{
    background-color: #45a049;
    width: 30%;
    height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.bouton-presence{
    background-color: #45a049;
    width: 30%;
    height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.div-presence{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.div-presence-texte{
    width: 70%;
    background-color: lightgray;
    border-radius: 5px;
}

.div-presence-bouton {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;

}



.grille {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.boite {
    background-color: #b6baaf;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
}

.titre {
    font-size: 18px;
    margin-top: 0;
}

.sous-titre {
    font-size: 14px;
    margin-top: 4px;
}

.boutons {
    margin-top: 16px;
    text-align: right;
}

.bouton {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #79b551;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}
.bouton:hover {
    background-color: #00A759;
}
