
:root{
    --vert_fierte: #95c14e;
    --vert_vivacite: #79b551;
    --gris: #b6baaf;
}

.content {
    margin-left: 220px; /* width of the sidebar + some margin */
    padding: 20px;
}

.content table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.content th{
    border: 1px solid black; 
    border-collapse: collapse; 
    background-color: rgb(0, 167, 89);
}

.content td{
    border: 1px solid black; 
    border-collapse: collapse;
    text-align: center; 
}

.container {
    display: flex;
    justify-content: space-between; /* Align components with space in between */
    align-items: center; /* Align components vertically in the center */
    background-color: #f1f1f1;
    padding: 10px;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color:rgb(0, 167, 89);
    float: left;
}

.sidebar nav {
    width: 180px;
    padding: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav li {
    margin-bottom: 5px;
}

.sidebar nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: var(--vert_vivacite);
}

.sidebar nav a:hover {
    background-color: #ddd;
}

.titre {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titre a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.titre a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.titre a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.titre a:active {
    color:darkslateblue;
    background-color: transparent;
    text-decoration: underline;
}